extends ../layout

block content
    .block-header
        h2 Dashboard
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .header
                    h2 Files
                .body
                    ol.breadcrumb.breadcrumb-col-light-blue
                        each pathObject,index in data.paths
                            li
                                if(index < data.paths.length - 1)
                                    a(href='/list'+ ' / ' + pathObject.path) #{pathObject.title}
                                else
                                    | #{pathObject.title}
                    table(class='table table-striped')
                        thead
                            tr
                                th Preview
                                th File
                                th Actions
                        tbody
                            each file in data.files
                                tr
                                    td
                                        if(file.isFile && ['jpg', 'png', 'gif', 'jpeg'].includes(file.title.split('.').pop()))
                                            img(width='50',src=data.path + '/' + file.title)
                                    td
                                        if(file.isFile)
                                            a(href='/files/' + data.path + '/' + file.title) #{file.title}
                                        else
                                            a(href='/list/' + data.path + '/' + file.title) #{data.path + '/' + file.title}
                                    td
                                        form(method='post')
                                            input(type='hidden', name='path', value='/files/' + data.path + '/' + file.title)
                                            button(type='submit')
                                                i.material-icons.small delete
                                                span Delete
