extends ../layout

block content
    .block-header
        h2 Dashboard
    .row.clearfix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .card
                .header
                    h2 Files
                .body
                    ol.breadcrumb.breadcrumb-col-light-blue
                        each directory, index in data.directories
                            li
                                if index < data.directories.length - 1
                                    a(href=urljoin(pagePath, directory.relativePath)) #{directory.title}
                                else
                                    | #{directory.title}
                    table(class='table table-striped')
                        thead
                            tr
                                th Preview
                                th File
                                if(admin)
                                  th Actions
                        tbody
                            each file in data.files
                                tr
                                    td
                                        if file.isImage
                                            img(width='128',src=urljoin('/files', file.relativePath))
                                    td
                                        if file.isFile
                                            a(href=urljoin('/files', file.relativePath)) #{file.title}
                                        else
                                            a(href=urljoin(pagePath, file.relativePath)) #{file.title}
                                    td
                                      if admin
                                        form(method='post')
                                            input(type='hidden', name='path', value=urljoin(pagePath, file.relativePath))
                                            button(type='submit')
                                                i.material-icons.small delete
                                                span Delete
